body { background-color: #F5F5DC; color: #2E0000; background-image: url(../img/javabackground.gif); font-family: Verdana, Arial, sans-serif; }
h1 { background-color: #D2B48C; background-image: url(../img/javalogo.gif); background-repeat: no-repeat; background-position: center;
    text-indent: -9999px; height: 100px;  }
h3 { background-color: #E6D6A9; text-transform: uppercase; }
nav { text-align: center; font-weight: bold; }
footer { background-color: #D2B48C; color: #000000; padding: 20px; text-align: center; font-style: italic; font-size: .60em; }
img { border-style: none; }
ul { list-style-image: url(../img/marker.gif); list-style-type: disc; }
#wrapper { margin-left: auto; margin-right: auto; width: 80%; background-color: #F5F5DC; min-width: 960px; box-shadow: 5px 5px 5px #2E0000; }
#content { padding: 1px 20px 20px 20px; }
dt { font-weight: bold; }